#dashboard {

    width:100vw;
    height:100vh;

    overflow:hidden;

}


.widget {

    width:100%;
    height:100%;

    overflow:hidden;

    border-radius: var(--panel-radius);

    background: var(--panel-bg);

    padding: var(--panel-padding);

    box-sizing:border-box;

}