#dashboard {

    width:100vw;
    height:100vh;

    display:grid;

    grid-template-columns:
        40% 30% 30%;

    grid-template-rows:
        30% 40% 30%;

    gap:10px;

}


.photo-main {

    grid-column:1;
    grid-row:1 / span 2;

}


.weather-small {

    grid-column:2;
    grid-row:1;

}


.prayer-main {

    grid-column:2 / span 2;
    grid-row:2;

}


.menu-bottom {

    grid-column:1 / span 3;
    grid-row:3;

}